<div class="row">
  <div class="col-md-4">
    <div class="bs-callout bs-callout-info">
      <h4>География</h4>
      На сайте представлены актуальные учебные материалы для учащихся школ. Все материалы разбиты на две категории: конспект и учебник. Материалы в категории конспект более краткие и дополнены изображениями и картами. Категория учебник содержит полную версию школьной программы.
    </div>
  </div>
  <div class="col-md-4">
    <div class="bs-callout bs-callout-info">
      <h4>Всемирная история</h4>
      Изучайте историю в разделе конспект, если Ваше время ограничено. Наличие сопутствующих карт и изображений поможет в усваивании материалов и лучше закрепит описанную картину событий в памяти учащегося.
    </div>
  </div>
  <div class="col-md-4">
    <div class="bs-callout bs-callout-info">
      <h4>История Украины</h4>
      В категории конспект все материалы дополнены картами и изображениями, что делает изучение материала более наглядным и способствует формированию целостной картины изложенных событий. Учебник, как обычно, содежит всецело упорядоченные материалы школьной программы.
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <h3>Учебный сайт по географии, всемирной истории и истории Украины.</h3>

    <h4>Готовимся к экзаменам.</h4>

    <p>На этом сайте находятся учебные материалы по географии, всемирной истории и истории Украины для учащихся школ. Материалы не являются основой для изучения соответствующих дисциплин, однако являются весьма хорошим дополнением к основной программе общеобразовательных школ, не уступающим основной программе по глубине и объему излагаемого материала.</p>

    <p>Характер изложения материала по всемирной истории и истории Украины хронологически последователен и тесно связан с географическим изучением, что придает информации лаконичность и всесторонний характер изучения. Обучаясь, Вы получаете не только возможность осознавать картины описанных событий, но и устанавливать взаимосвязь между происходящим и выдвигать собственные гипотезы и опровержения.</p>

    <p>Оригинальный язык большинства материалов - украинский, некоторых - русский. Все материалы, в результате переводов, изложены на четырех языках: русском, украинском, белорусском и английском. Перевод на языки был выполнен автоматически, и не является совершенным. Перевод на английский язык, вообще, оставляет желать лучшего. К сожалению, на сегодняшний день, в команде ресурса нет квалифицированного переводчика.</p>

    <p>В настоящий момент на сайте находятся все, из перечисленных в содержании курсов, видео файлы и также викторины доступны на всех четырех языках.</p>

    <p>Большее количество пользователей предлагали создать удобный сервис, изучения истории и географии, связывающий эти науки воедино, обладающий соответствующей технической функциональностью. И мы попытались это сделать. Была проделана огромная работа по подготовке структуризации и оформлению текстов, подбору соответствующих карт и сопутствующих изображений.</p>

    <p>Количество материалов велико, и у нас не хватает времени проверить все тексты и подготовить все изображения.</p>

    <p>В настоящее время на сайте существует разбиение материалов на “конспект” и “учебный курс”.</p>

    <p>“Конспект” содержит основное содержимое сайта, все его страницы одинаково стилизированы, практически со всеми его текстами приведены географические карты и вспомогательные изображения (фотографии и рисунки). Изображения предназначены для лучшего усваивания материала путем повышения интереса обучающегося, — они помогают представить излагаемую картину, оживить образы исторических фигур, мысленно перенести нас в пространстве и времени.</p>

    <p>“Учебный курс” — часть сайта, содержащая материалы основных учебников по географии, всемирной истории и истории Украины. Эти материалы еще не проверены модератором.</p>

    <p>Для материалов конспекта по всемирной истории 6-го и 11-го классов тексты еще не подготовлены, и поэтому карты и изображения еще не выложены.</p>
  </div>
  <div class="col-md-4 contents">
    <h4 class="shadowtext">
      <%= category("g") %>
    </h4>
    <ul class="contents">
      <%= render Entry.where(category: "g", level: 2).order(:sequence) %>
    </ul>

    <h4>
      <%= category("wh") %>
    </h4>
    <ul class="contents">
      <%= render Entry.where(category: "wh", level: 2).order(:sequence) %>
    </ul>

    <h4>
      <%= category("uh") %>
    </h4>
    <ul class="contents">
      <%= render Entry.where(category: "uh", level: 2).order(:sequence) %>
    </ul>
  </div>
</div>
