<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : t('title') %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body><%= render 'layouts/analyticstracking' if Rails.env.production? %>
    <div class="navbar navbar-default navbar-static-top">
      <%= render 'layouts/navigation' %>
    </div>
    <%= render "layouts/navbar_lover" %>
    <div class="container container-main">
      <div class="row">
        <div class="col-lg-12">
          <%= render 'layouts/messages' %>
          <%= yield %>
        </div>
      </div><!--/row-->
    </div> <!-- /container -->
    <%= javascript_include_tag 'application' %>
  <script src="/js/jquery.autocomplete.min.js"></script>
  <script src="/js/search_autocomplete.js"></script>
  </body>
</html>
